h1 {
    background-color: #d04900;
    color: white;
}

main{
    max-width: 700px;
    margin: 0 auto;
    
}

table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

th,td {
    width: 20%;
}

td:nth-child(2),th:nth-child(2) {
    width: 50%;
}

tr:nth-child(even){
}

td {
    padding: 20px 20px 10px 0;
}

td:nth-child(3),th:nth-child(3){
    text-align: center;
}

td:nth-child(4),th:nth-child(4){
    text-align: right;
    padding-right: 0;
}

tr:nth-child(even){
    background-color: #d04900b3;
    color: white;
}

input {
    padding: .5em;
    width: 100%;
}

.form-section{
    float: left;
    padding: 20px 10% 0px 0;
    width: 45%;
}

.form-section:nth-child(even){
    padding: 20px 0 0 0;
}

.form-submit {
    clear: both;
    padding-top: 50px;
    width: 100%;
}

input#createCourse {
    background-color: #d04900;
    color: white;
    font-weight: 900;
    border: none;
    cursor: pointer;
    padding: 15px;
    width: 30%;
    float: left;
    margin-right: 20px;
}

h2#message {
    margin: 0;
    padding: 10px 10px 10px 10px;
    color:red;
}

thead tr{
    border-bottom: 2px solid black;
}

caption {
    color: #d04900;
    font-weight: 900;
    font-size: 2em;
}


